* {
   box-sizing: border-box;
}


#link-topo{
    text-decoration: none;
    color: white;
    background-color: rgb(213, 158, 8);
    padding: 20px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    background: #E8D9A5;
    height: 200px;
    width: 1366px;
 }

 nav ul {
    list-style: none;
    background-color: #E8AC6F;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 3px 3px 2px #7a5c3e70;
 }

 nav a {
    color: white;
    text-decoration: none;
    padding: 23px;
    display: block;
 }


 nav li {
    float: left;
 }

 nav a:hover {
    background-color: white;
    color: #E8AC6F;
 }

 .row {
   padding: 0 20px;
   display: table;
 }

 .card {
   background-color: white;
   padding: 25px;
   margin-top: 25px;
 }

 section {
   float: left;
   width: 75%;
 }

 aside {
   float: left;
   width: 25%;
   padding-left: 20px;
 }