#link-topo{
    text-decoration: none;
    color: white;
    background-color: rgb(213, 158, 8);
    padding: 20px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
}

body {
    height: 200px;
    width: 1366px;
 }

 nav ul {
    list-style: none;
    background-color: coral;
    overflow: hidden;
    margin: 0;
    padding: 0;
 }

 nav a {
    color: white;
    text-decoration: none;
    padding: 14px;
    display: block;
 }

 nav li {
    float: left;
 }

 nav a:hover {
    background-color: white;
    color: coral;
 }