footer .copyright button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFF;
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 18px;
    color: #7F00FF;
    cursor: pointer;
    transition: opacity 0.3s;
}