html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
        
footer {
    position: absolute;
    bottom: 0;
    background-color: brown;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}